*.exe filter=lfs diff=lfs merge=lfs -text
*.EXE filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.MP4 filter=lfs diff=lfs merge=lfs -text
*.sufproj filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.MP3 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.GIF filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.PDF filter=lfs diff=lfs merge=lfs -text
*.msi filter=lfs diff=lfs merge=lfs -text
*.MSI filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
*.camrec filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.DAT filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
EO.WebEngine.dll filter=lfs diff=lfs merge=lfs -text
EO.Pdf.dll filter=lfs diff=lfs merge=lfs -text
Aspose.Pdf.dll filter=lfs diff=lfs merge=lfs -text
04_Insert_EvM_CANLT.sql filter=lfs diff=lfs merge=lfs -text
01_Create_EvM_PZLT.sql filter=lfs diff=lfs merge=lfs -text
tblWordQuestionnaireRequestMigration.sql filter=lfs diff=lfs merge=lfs -text
ARIALUNI.TTF filter=lfs diff=lfs merge=lfs -text
MessageDispatcher_ConfigurationDataInsert.sql filter=lfs diff=lfs merge=lfs -text
"FFDO UI Design - Admin Screens.doc" filter=lfs diff=lfs merge=lfs -text
ResxAutoTool/TESTFOLDER/Pan.Web.Setup.sufproj filter=lfs diff=lfs merge=lfs -text